<div id="animation_5">
    <div id="draw_here_5" style="text-align:center;"></div>
</div>

<script type="text/javascript">
    // Compute Gaussian
    canvas = ({width:1000, height:500})
    margin = ({top: 20, right: 30, bottom: 30, left: 40})

    l_blue = "#5073e8"
    l_red = "#db4c43"
    
    xlim_5 = [-10, 10]
    ylim_5 = [0.0, 0.4]

    mu_5 = 0.0
    sigma_5 = 1.01
    scale_5 = 1.0 / Math.sqrt(2 * Math.PI * sigma_5**2)

    sigma_5_1 = 1.0
    scale_5_1 = 1.0 / Math.sqrt(2 * Math.PI * sigma_5_1**2)
    
    c_5 = 1.0

    x_raw_5 = d3.range(xlim_5[0], xlim_5[1], (xlim_5[1] - xlim_5[0]) / 1000)
    fx_gauss_5 = Float64Array.from(x_raw_5, d => c_5 * scale_5 * Math.exp(-(((d - mu_5)**2)/(2 * sigma_5**2))))

    fx_fancy = Float64Array.from(x_raw_5, d => scale_5_1 * Math.exp(-(((d - mu_5)**2)/(2 * sigma_5_1**2))))

    data_5 = d3.transpose([x_raw_5, fx_gauss_5]).map(d => ({x: d[0], y: d[1]}))
    data_fancy = d3.transpose([x_raw_5, fx_fancy]).map(d => ({x: d[0], y: d[1]}))
    
    // Setup Chart
    x_5 = d3.scaleLinear()
        .domain(d3.extent(data_5, d => d.x))
        .range([margin.left, canvas.width - margin.right])
    
    y_5 = d3.scaleLinear()
        .domain(ylim_5)
        .range([canvas.height - margin.bottom, margin.top])
    
    xAxis_5 = g => g
        .attr("transform", `translate(0,${canvas.height-margin.bottom})`)
        .call(d3.axisBottom(x_5).ticks(canvas.width / 80).tickSizeOuter(0))
    
    yAxis_5 = g => g
        .attr("transform", `translate(${margin.left},0)`)
        .call(d3.axisLeft(y_5).ticks(canvas.height / 40))
    
    var svg_5 = d3.select("div#draw_here_5").append("svg")
        .attr("viewBox", [0, 0, canvas.width, canvas.height]);
    
    // Draw q
    line_class_5 = d3.line()
        .x(d => x_5(d.x))
        .y(d => y_5(d.y))

    svg_5.append("path")
        .attr("id", "q_5")
        .attr("fill", "none")
        .attr("stroke", l_blue)
        .attr("stroke-width", 1.5)
        .attr("stroke-linejoin", "round")
        .attr("d", line_class_5(data_5));
    
    // Draw p
    line_array_5 = d3.line()
        .x(d => x_5(d[0]))
        .y(d => y_5(d[1]))

    svg_5.append("path")
        .attr("id", "p_5")
        .attr("fill", "none")
        .attr("stroke", l_red)
        .attr("stroke-width", 1.5)
        .attr("stroke-linejoin", "round")
        .attr("d", line_class_5(data_fancy));
    
    svg_5.append("g")
        .call(xAxis_5);

    svg_5.append("g")
        .call(yAxis_5);
</script>