<div>
    <label for="vol">Volume (between 0 and 50):</label>
    <!-- <input type="range" id="vol" name="vol" min="0" max="15" value="1"> -->
    <input type="submit" onclick="clicked()">


    <div class="range-slider">
        <input class="range-slider__range" type="range" value="1.0" min="0.01" max="5" step="0.01">
        <span class="range-slider__value">0</span>
    </div>


    <div id="draw_here" style="text-align:center;"></div>
</div>

<script type="text/javascript">
var rangeSlider = function(){
    var slider = $('.range-slider'),
        range = $('.range-slider__range'),
        value = $('.range-slider__value');
    
    slider.each(function(){

        value.each(function(){
            var value = $(this).prev().attr('value');
            $(this).html(value);
        });

        range.on('input', function(){
            $(this).next(value).html(this.value);
        });
    });
};

rangeSlider();
</script>

<script type="text/javascript">
    function kde(kernel, thresholds, data) {
        return thresholds.map(t => [t, d3.mean(data, d => kernel(t - d))]);
    }
    function epanechnikov(bandwidth) {
        return x => Math.abs(x /= bandwidth) <= 1 ? 0.75 * (1 - x * x) / bandwidth : 0;
    }

    line = d3.line()
        .curve(d3.curveBasis)
        .x(d => x(d[0]))
        .y(d => y(d[1]))
    
    const promise = d3.json("/assets/faithful.json").then( function(data) {
        console.log(data)

        height = 500
        width = 954
        margin = ({top: 20, right: 30, bottom: 30, left: 40})

        x = d3.scaleLinear()
            .domain(d3.extent(data)).nice()
            .range([margin.left, width - margin.right])

        thresholds = x.ticks(3)
        console.log(thresholds)

        density = kde(epanechnikov(1), thresholds, data)
        bins = d3.histogram()
                .domain(x.domain())
                .thresholds(thresholds)
            (data)
        
        console.log(bins, height, width, thresholds, density)


        y = d3.scaleLinear()
            .domain([0, d3.max(bins, d => d.length) / data.length])
            .range([height - margin.bottom, margin.top])
        
        xAxis = g => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x))
            .call(g => g.append("text")
                .attr("x", width - margin.right)
                .attr("y", -6)
                .attr("fill", "#000")
                .attr("text-anchor", "end")
                .attr("font-weight", "bold")
                .text(data.title))
        
        yAxis = g => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y).ticks(null, "%"))
            .call(g => g.select(".domain").remove())
        
        var svg = d3.select("div#draw_here").append("svg")
            .attr("viewBox", [0, 0, width, height]);
        
        svg.append("g")
            .attr("fill", "#bbb")
            .selectAll("rect")
            .data(bins)
            .enter()
            .append("rect")
            .attr("x", d => x(d.x0) + 1)
            .attr("y", d => y(d.length / data.length))
            .attr("width", d => x(d.x1) - x(d.x0) - 1)
            .attr("height", d => y(0) - y(d.length / data.length));
        
        console.log(line([[63, 0.07], [69, 0.05]]))
        console.log(line(density))
        svg.append("path").attr("id", "p2").attr("d", line([[63, 0.07], [69, 0.05]])).attr("stroke", "#060")
        
        svg.append("path")
            .attr("id", "p1")
            .attr("fill", "none")
            .attr("stroke", "#000")
            .attr("stroke-width", 1.5)
            .attr("stroke-linejoin", "round")
            .attr("d", line(density));

        
        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        return data
    });
    
    function clicked() {
        var svg = d3.select("svg")
        svg.select("path#p2")
            .transition()
            .attr("d", line([[63, 0.09], [69, 0.02]])).attr("stroke", "#060")

        promise.then(function(data) {
            var svg = d3.select("svg") // .transition();
            density = kde(epanechnikov(7), thresholds, data)
            console.log(density)

            console.log(svg.select("#p1"))

            svg.select("#p1")
                .transition()
                .duration(750)
                .attr("d", line(density))
        });
    }


    // async function myFetch() {
    //     let response = await fetch('/assets/faithful.json');

    //     if (!response.ok) {
    //         console.log(`HTTP error! status: ${response.status}`);
    //     }

    //     let data = await response.json();
    //     data = Object.assign(data, {title: "Time between eruptions (min.)"})
    //     console.log(data)

    //     height = 500
    //     width = 954
    //     margin = ({top: 20, right: 30, bottom: 30, left: 40})

    //     x = d3.scaleLinear()
    //         .domain(d3.extent(data)).nice()
    //         .range([margin.left, width - margin.right])

    //     thresholds = x.ticks(40)

    //     density = kde(epanechnikov(11), thresholds, data)
    //     bins = d3.histogram()
    //         .domain(x.domain())
    //         .thresholds(thresholds)
    //     (data)

    //     y = d3.scaleLinear()
    //         .domain([0, d3.max(bins, d => d.length) / data.length])
    //         .range([height - margin.bottom, margin.top])
        
    //     xAxis = g => g
    //         .attr("transform", `translate(0,${height - margin.bottom})`)
    //         .call(d3.axisBottom(x))
    //         .call(g => g.append("text")
    //             .attr("x", width - margin.right)
    //             .attr("y", -6)
    //             .attr("fill", "#000")
    //             .attr("text-anchor", "end")
    //             .attr("font-weight", "bold")
    //             .text(data.title))
        
    //     yAxis = g => g
    //         .attr("transform", `translate(${margin.left},0)`)
    //         .call(d3.axisLeft(y).ticks(null, "%"))
    //         .call(g => g.select(".domain").remove())
        
        
    //     var svg = d3.select("div#draw_here").append("svg")
    //         .attr("viewBox", [0, 0, width, height]);
        
    //     // d3.create("svg")

    //     svg.append("path")
    //         .datum(density)
    //         .attr("fill", "none")
    //         .attr("stroke", "#000")
    //         .attr("stroke-width", 1.5)
    //         .attr("stroke-linejoin", "round")
    //         .attr("d", line);

    //     svg.append("g")
    //         .call(xAxis);

    //     svg.append("g")
    //         .call(yAxis);

    //     svg.append("g")
    //         .attr("fill", "#bbb")
    //         .selectAll("rect")
    //         .data(bins)
    //         .join("rect")
    //         .attr("x", d => x(d.x0) + 1)
    //         .attr("y", d => y(d.length / data.length))
    //         .attr("width", d => x(d.x1) - x(d.x0) - 1)
    //         .attr("height", d => y(0) - y(d.length / data.length));

    //     console.log(svg)
    // }

    // myFetch()
</script>


<!-- <script src="http://bl.ocks.org/mbostock/raw/4061502/0a200ddf998aa75dfdb1ff32e16b680a15e5cb01/box.js"></script>
<script>

    var margin = {top: 10, right: 50, bottom: 20, left: 50},
        width = 120 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    
    var min = Infinity,
        max = -Infinity;
    
    var chart = d3.box()
        .whiskers(iqr(1.5))
        .width(width)
        .height(height);
    
    d3.csv("/assets/morley.csv", function(error, csv) {
      var data = [];
    
      csv.forEach(function(x) {
        var e = Math.floor(x.Expt - 1),
            r = Math.floor(x.Run - 1),
            s = Math.floor(x.Speed),
            d = data[e];
        if (!d) d = data[e] = [s];
        else d.push(s);
        if (s > max) max = s;
        if (s < min) min = s;
      });
    
      chart.domain([min, max]);
    
      var svg = d3.select("div#example").selectAll("svg")
          .data(data)
        .enter().append("svg")
          .attr("class", "box")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.bottom + margin.top)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
          .call(chart);
    
      setInterval(function() {
        svg.datum(randomize).call(chart.duration(1000));
      }, 2000);
    });
    
    function randomize(d) {
      if (!d.randomizer) d.randomizer = randomizer(d);
      return d.map(d.randomizer);
    }
    
    function randomizer(d) {
      var k = d3.max(d) * .02;
      return function(d) {
        return Math.max(min, Math.min(max, d + k * (Math.random() - .5)));
      };
    }
    
    // Returns a function to compute the interquartile range.
    function iqr(k) {
      return function(d, i) {
        var q1 = d.quartiles[0],
            q3 = d.quartiles[2],
            iqr = (q3 - q1) * k,
            i = -1,
            j = d.length;
        while (d[++i] < q1 - iqr);
        while (d[--j] > q3 + iqr);
        return [i, j];
      };
    }
    
</script> -->

<!-- <div id="example"></div> -->