<div class="row">
	<div class="col-4">
		<img src="{{ include.url-1 }}">
		<p style='font-size: 0.85em; line-height: 1em; padding-bottom: 0.5em'>{{ include.des-1 }}</p>
	</div>
	<div class="col-4">
	  	<img src="{{ include.url-2 }}">
	  	<p style='font-size: 0.85em; line-height: 1em; padding-bottom: 0.5em'>{{ include.des-2 }}</p>
	</div>
	<div class="col-4">
	  	<img src="{{ include.url-3 }}">
	  	<p style='font-size: 0.85em; line-height: 1em; padding-bottom: 0.5em'>{{ include.des-3 }}</p>
	</div>
	<div class="col-4">
	  	<img src="{{ include.url-4 }}">
	  	<p style='font-size: 0.85em; line-height: 1em; padding-bottom: 0.5em'>{{ include.des-4 }}</p>
	</div>
</div>